.Xauthority
.bash_history
.bash_logout
.cache/
.lnav/
.gitconfig
.old/
.local/
.config/matplotlib/
.profile
.ssh/
.sudo_as_admin_successful
.vim/
.viminfo
.vimrc~
.wget-hsts
ARRIS/
CISCO/
ISP
NA
addressesGrillet.WBX
cliente.py
cliente2.py
delete.py
ina
naMalos1
naMalos2
naSoluciones
prov_full.py
prov_full/
prov_old.py
prov_old/
pruebas
smtp.py
snap/
soporte-telegram/
